<ion-view title="Posts" hide-nav-bar="true">
  <ion-header-bar class="item-input-inset search-bar">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" ng-model="data.query" placeholder="search"/>
    </label>
    <button class="button button-clear" ng-if="data.query" ng-click="clearFilter()">
      <i class="icon ion-ios7-close"></i>
    </button>
  </ion-header-bar>

  <ion-content>
    <ion-list>
      <ion-item ng-repeat="post in data.posts | filter: data.query" ui-sref="app.post.details({postId: post.$id})">{{post.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
